.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 20px rgb(255, 0, 76);
}
.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 10px rgb(255, 0, 76);
}
.heading_div2{
    font-size: 20px;
}
.result_para_tag{
    box-shadow: 5px 5px 10px rgb(255, 0, 76);
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 0, 76);
    line-height: 2.5;
    text-align: center;
    font-size: large;
}
canvas{
    border: 5px solid rgb(105, 105, 105);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(255, 0, 76);
    margin-top: 250px;
    margin-bottom: 150px;
}
